In [29]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.

In [30]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
tic_tac_toe_endgame = fetch_ucirepo(id=101) 
  
# data (as pandas dataframes) 
X = tic_tac_toe_endgame.data.features 
y = tic_tac_toe_endgame.data.targets 
  
# metadata 
print(tic_tac_toe_endgame.metadata) 
  
# variable information 
print(tic_tac_toe_endgame.variables)

{'uci_id': 101, 'name': 'Tic-Tac-Toe Endgame', 'repository_url': 'https://archive.ics.uci.edu/dataset/101/tic+tac+toe+endgame', 'data_url': 'https://archive.ics.uci.edu/static/public/101/data.csv', 'abstract': 'Binary classification task on possible configurations of tic-tac-toe game', 'area': 'Games', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 958, 'num_features': 9, 'feature_types': ['Categorical'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1991, 'last_updated': 'Mon Aug 19 1991', 'dataset_doi': '10.24432/C5688J', 'creators': ['David Aha'], 'intro_paper': None, 'additional_info': {'summary': 'This database encodes the complete set of possible board configurations at the end of tic-tac-toe games, where "x" is assumed to have played first.  The target concept is "win for x" (i.e., true when "x" has one of 8 possible ways to create a "three-in-a-row").  \r\n\r\nInterestingly, this raw database gives a stripped-down decision tree algorithm (e.g., ID3) fits.  However, the rule-based CN2 algorithm, the simple IB1 instance-based learning algorithm, and the CITRE feature-constructing decision tree algorithm perform well on it.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '    1. top-left-square: {x,o,b}\r\n    2. top-middle-square: {x,o,b}\r\n    3. top-right-square: {x,o,b}\r\n    4. middle-left-square: {x,o,b}\r\n    5. middle-middle-square: {x,o,b}\r\n    6. middle-right-square: {x,o,b}\r\n    7. bottom-left-square: {x,o,b}\r\n    8. bottom-middle-square: {x,o,b}\r\n    9. bottom-right-square: {x,o,b}\r\n   10. Class: {positive,negative}', 'citation': None}}
                   name     role         type demographic description units  \
0                 class   Target  Categorical        None        None  None
1       top-left-square  Feature  Categorical        None        None  None
2     top-middle-square  Feature  Categorical        None        None  None
3      top-right-square  Feature  Categorical        None        None  None
4    middle-left-square  Feature  Categorical        None        None  None
5  middle-middle-square  Feature  Categorical        None        None  None
6   middle-right-square  Feature  Categorical        None        None  None
7    bottom-left-square  Feature  Categorical        None        None  None
8  bottom-middle-square  Feature  Categorical        None        None  None
9   bottom-right-square  Feature  Categorical        None        None  None

  missing_values
0             no
1             no
2             no
3             no
4             no
5             no
6             no
7             no
8             no
9             no

In [31]:
X

,top-left-square,top-middle-square,top-right-square,middle-left-square,middle-middle-square,middle-right-square,bottom-left-square,bottom-middle-square,bottom-right-square
0,x,x,x,x,o,o,x,o,o
1,x,x,x,x,o,o,o,x,o
2,x,x,x,x,o,o,o,o,x
3,x,x,x,x,o,o,o,b,b
4,x,x,x,x,o,o,b,o,b
...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x
954,o,x,o,x,x,o,x,o,x
955,o,x,o,x,o,x,x,o,x
956,o,x,o,o,x,x,x,o,x
957,o,o,x,x,x,o,o,x,x

In [32]:
y

        class
0    positive
1    positive
2    positive
3    positive
4    positive
..        ...
953  negative
954  negative
955  negative
956  negative
957  negative

[958 rows x 1 columns]

In [52]:
encoder = OneHotEncoder()
X_encoded = encoder.fit_transform(X)
X_encoded.toarray()

array([[0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.]])

In [53]:
y_encoded = encoder.fit_transform(y)
y_encoded.toarray()

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [47]:
model = keras.models.Sequential([
    keras.layers.Flatten(),
    keras.layers.Dense(20,activation='sigmoid'),
    keras.layers.Dense(1,activation='sigmoid')
])

model.compile(optimizer='SGD',loss='binary_crossentropy',metrics=['accuracy'])

In [54]:
model.fit(X_encoded,y_encoded)

ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense_9" is incompatible with the layer: expected axis -1 of input shape to have value 9, but received input with shape (None, 27)

Arguments received by Sequential.call():
  â€¢ inputs=tf.Tensor(shape=(None, 27), dtype=float32)
  â€¢ training=True
  â€¢ mask=None